{
    "presets": [
        // es6的preset
        "@babel/preset-env",
        // react的preset
        "@babel/preset-react"
    ],
    // 一个plugins对应一个功能，一个presets是对应一系列plugins的集合
    // "@babel/plugin-syntax-dynamic-import" ES6本身不支持动态import，需要添加此插件转换
    "plugins": ["@babel/plugin-syntax-dynamic-import"]
}